
  <h1><%= @list.name %></h1>
  <%= link_to "Add Movie", new_list_bookmark_path(@list), class: "btn btn-danger" %>
  <%= link_to "ðŸ ", lists_path, class:"btn btn-danger" %>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
      <figure class="movie">
        <div class="movie__hero">
          <img src=<%= bookmark.movie.poster_url %> alt="movie" class="movie__img">
        </div>
        <div class="movie__content">
          <div class="movie__title">
            <h1 class="heading__primary"><%= bookmark.movie.title %><i class="fas fa-fire"></i></h1>
            <div class="movie__tag movie__tag--1">#action</div>
            <div class="movie__tag movie__tag--2">#thriller</div>
          </div>
          <p class="movie__description">
          <%= bookmark.comment %>
          </p>
          <div class="movie__details">
            <p class="movie__detail"><span class="icons icons-grey"><i class="fas fa-clock"></i> </span><%= bookmark.movie.rating %></p>
            <p class="movie__detail"><span class="icons icons-yellow"><i class="fas fa-file-invoice-dollar"></i>
              </span>$12.52 crores</p>
          </div>
        </div>
      </figure>
      <%= link_to bookmark_path(bookmark), class: "btn btn-lg delete-movie", data: { turbo_method: :delete, turbo_confirm: "Delete #{bookmark.movie.title}?" } do%>
      <i class="fa-solid fa-trash"></i>
      <% end %>
    <% end %>
  </ul>
