<div class="container">

  <h1 class="mt-4">Add a Movie to your <em><%= @list.name %></em> List</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%=f.association :movie %>
    <%=f.input :comment %>
    <%=f.submit :Add%>
  <% end %>

</div>
